$colors: (
    primary-font-color: #232343,
    pure-black: #000,
    pure-white: #fff,
    pure-purple:#2ec774,
    p-light-blue: #0084e3,
    light_blue:#0a88e3,
    light_white: #f5f9ff,
    font-color: #232343,
    secondary_ray:#DADADA,
    light_gray: #ddd,
    secondary_light_gray: #eee,
    // light_blue:#deebff,
    border-color: #D9D9D9   
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}