@mixin fonts-source($size: false, $colour: false, $weight: false, $lh: false) {
    @if $size {
        font-size: $size;
    }

    @if $colour {
        color: $colour;
    }

    @if $weight {
        font-weight: $weight;
    }

    @if $lh {
        line-height: $lh;
    }
}
@mixin new_paragraph {
    @include fonts-source($size: 16px, $colour: color(pure-black), $weight: 400);
} 