@import "./variables";
@import "./colors";
@import "./mixins";
@import "./media";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,100;1,200;1,400;1,500;1,700;1,900&display=swap');
body {
  font-family: 'Courgette', cursive;
  font-family: 'Poppins', sans-serif;
}
.main{
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
}
.Homebanner{
  position: relative;
background:  linear-gradient(to left, rgba(35, 35, 67, 1) 50% , rgba(35, 35, 67, 0.5)) ,url(../image/homebanner.png) no-repeat left;
background-size: cover;
  .banner_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    @include tab-view{
      flex-direction: column;
    }
  .banner_text{
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #fff;
    @include tab-view{
      width: 100%;
    }
    h2{
      margin-bottom: 23px;
      font-size: 39px;
      @include tab-view{
        font-size: 25px;
      }
    }
    p{
      max-width: 633px;
      font-size: 24px;
      line-height: 30px;
      font-weight: 400;
      @include tab-view{
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }
  .banner_img_grp{
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    height: 556px;
    @include tab-view{
      width: 100%;
    }
    .girl{
      width: 93%;
      height: 100%;
    }
    .spinner{
      position: absolute;
      right: 0px;
      top: 107px;
      align-self:flex-start;
      width: 160px;
      height: 160px;
      object-fit: contain;
    }
    .flow_graph{
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 160px;
      height: 160px;
      object-fit: contain;
    }
  }
}
}

.why_pathquest_section{
position: relative;
padding: 50px 0;
background-color: #F5F9FF;
height: 100%;
.title_text{
  text-align: center;
  margin-bottom: 30px;
  h2{
    font-size: 44px;
    font-weight: 700;
  }
  hr{
    width: 100px;
    border-top: 2px solid #000;
  }
  p{
    font-size: 16px;
    line-height: 19.49px;
  }
}


.col-md-4{
  position: static;
  @include tab-view{
    position: relative;
  }
}
  .rtl-slider {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    @include tab-view{
      position: relative;
    }
    .main_slide_img { 
      height: auto;
      cursor: pointer;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .rtl-slider-nav{
    padding: 5px 20px;
    .rtl-slider-slide {
      opacity: 0.75;
      transition: all 0.3s ease;
      height: auto;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      .slide_text_box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 10px;
       
        img{
          width: 60px;
          height: 60px;
          object-fit: contain;
          margin-right: 20px;
        }
        .text{
          h4{
            font-size: 24px;
            margin-bottom: 10px;
          }
          p{
            margin-bottom: 0;
          }
        }
      }
    }
    .slick-current.slick-active{
      opacity: 1;
      background: #fff;
      box-shadow: 0px 4px 30px rgb(0 0 0 / 15%);
      border-radius: 10px;
      h4{
        color: #0A88E3;
      }
    }
  }
}

.future_focused_business{
  position: relative;
  padding: 50px 0;
  .title_text{
    text-align: center;
    margin-bottom: 30px;
    h2{
      font-size: 44px;
      font-weight: 700;
    }
    hr{
      width: 100px;
      border-top: 2px solid #000;
    }
    p{
      font-size: 16px;
      line-height: 19.49px;
    }
  }
}