@import "./variables";
@import "./colors";
@import "./mixins";
@import "./media";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,100;1,200;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Courgette", cursive;
  font-family: "Poppins", sans-serif;
}
.Homebanner {
  position: relative;
  background: linear-gradient(269.77deg, #232343 44%, rgba(35, 35, 67, 0.6) 115.82%), url(../image/homebanner.png) no-repeat left;
  background-size: cover;
  .banner_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 15px;
    @include mobile-view{
      padding: 30px ;
    }
    @include tab-view {
      flex-direction: column;
    }
    @include mobile-view {
      padding: 30px 15px;
    }
    .banner_text {
      position: relative;
      width: 60%;
      display: flex;
      flex-direction: column;
      @include tab-view {
        width: 100%;
        order: 1;
      }
      h2 {
        @include fonts-source($size: 36px, $weight: 700, $colour:color(pure-white));
        margin-bottom: 23px;
        @include ipad-view {
          @include fonts-source($size: 28px, $weight: 600);
        }
        @include tab-view {
          font-size: 25px;
        }
      }
      p {
        @include fonts-source($size: 24px, $weight: 400, $lh: 30px,$colour:color(pure-white));
        @include ipad-view {
          @include fonts-source($size: 17px, $lh: 1.5);
        }
        max-width: 633px;
        @include tab-view {
          font-size: 16px;
          line-height: 1.5;
        }
      }
      .banner_button {
        display: flex;
        margin-top: 30px;
        @include ipad-view {
          margin-top: 10px;
        }
        .btn {
          margin-right: 20px;
          padding: 15px 25px;
          border-radius: 30px;
          font-size: 16px;
          color: color(p-light-blue);
          font-weight: 800;
          border: 2px solid color(p-light-blue);
          outline: none;
          &:hover {
            background-color: color(p-light-blue);
            color: color(pure-white);
          }
          @include ipad-view {
            padding: 10px 20px;
          }
        }
        .btn_first{
          background-color: color(p-light-blue);
          color:#fff;
          &:hover{
            background-color: transparent;
            color: color(p-light-blue);
          }
        }
      }
    }
    .banner_img_grp {
      position: relative;
      width: 40%;
      display: flex;
      flex-direction: column;
      @include tab-view {
        width: 80%;
        margin-bottom: 20px;
      }
      @include mobile-view {
        width: 100%;
      }
      .girl {
        width: 93%;
        height: 100%;
      }
      .spinner {
        position: absolute;
        right: 0px;
        top: 107px;
        align-self: flex-start;
        width: 150px;
        height: 150px;
        object-fit: contain;      
      }
      .flow_graph {
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 150px;
        height: 150px;
        object-fit: contain;       
      }
    }
  }
}
.new_title {
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 18px;
  @include fonts-source(
    $size: 44px,
    $colour: color(primary-font-color),
    $weight: 700,
    $lh: 48px
  );
  &::before {
    content: "";
    background: linear-gradient(230.26deg, #2ec774 30.62%, #0084e3 69.74%);
    background-repeat: no-repeat;
    background-size: auto;
    width: 150px;
    height: 3px;
    position: absolute;
    top: 100%;
  }
}
.new_paragraph {
  @include fonts-source($size: 16px, $colour: color(pure-black), $weight: 400);
}
// akashat code start
.financial_intelligence {
  padding: 70px 0 50px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #fff 55%, #deebff 45%);
  .financial_intel_view {
    .new_title{
      font-size: 40px;
    }
    .new_paragraph {
      max-width: 450px;
    }

    .financial_ul {
      list-style: none;
      display: flex;
      .financial_li {
        padding: 0 10px;
        .financialli_img {
          width: 100%;
          &.financialscale_img {
            img {
              max-width: 100%;
              transform: scale(1.3);
              transform-origin: left bottom;
            }

            &.scaleright_img img {
              transform-origin: right top;
            }
          }
        }
        &.financial_chart {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
}
.unique_features {
  background: url(../image/uniquehome.png);
  background-size: 30vw 100%;
  background-repeat: no-repeat;

  .our_uniquefeatures {
    padding: 35px 0;
    .our_features {
      .unique_featureul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        padding: 30px 0 50px 0;

        .unique_featureli {
          display: flex;
          align-items: center;
          width: 50%;
          column-gap: 24px;

          .uniqueli_text {
            @include fonts-source(
              $size: 16px,
              $colour: color(primary-font-color),
              $weight: 700,
              $lh: 19px
            );
            max-width: 200px;
            margin-bottom: 0;
          }
        }
      }
      .new_bookdemo {
        display: flex;
        justify-content: center;
        align-items: center;
        .feature_button {
          background: linear-gradient(
            95.73deg,
            #2ec774 -1.93%,
            #0084e3 101.79%
          );
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 50px;
          padding: 13px 19px;
          margin: 0 auto;
          text-decoration: none;
          @include fonts-source(
            $size: 16px,
            $colour: color(pure-black),
            $weight: 800,
            $lh: 19px
          );
          color: #fff;

          img {
            padding-right: 12px;
          }
        }
      }
    }
  }
}
// akashat code end
.why_pathquest_section {
  position: relative;
  padding: 50px 0 100px;
  background-color: color(light_white);
  height: 100%;
  width: 100%;
  @include mobile-view {
    padding: 30px 5px;
  }
  .new_title{
    &::before{
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  .title_text {
    text-align: center;
    margin-bottom: 30px;
    h2 {
      @include fonts-source($size: 44px, $weight: 700);
      @include tab-view {
        @include fonts-source($size: 35px, $weight: 600);
      }
    }
    p {
      @include fonts-source($size: 16px);
      @include ipad-view {
        @include fonts-source($lh: 1.5);
      }
    }
  }

  .col-md-4 {
    position: static;
    @include tab-view {
      position: relative;
    }
  }
  .rtl-slider {
    width: 35%;
    position: absolute;
    left: -2px;
    display: flex;
    @include tab-view {
      position: relative;
      width: 80%;
      display: block;
      margin: 0 auto;
    }
    .main_slide_img {
      height: auto;
      width: 100%;
      height: 500px;
      margin-right: 10px;
      @include tab-view {
        height: 300px;
      }
      img {
        width: 100%;
        object-fit: fill;
        height: 100%;
        @include tab-view {
          border-radius: 20px;
        }
      }
    }
  }
  .rtl-slider-nav {
    // height: 500px;
    overflow: hidden;
    .slick-list {
      padding: 0 !important;
    }
    .rtl-slider-slide {
      opacity: 0.75;
      transition: all 0.3s ease;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 30px 10px;
      margin: 0 20px;
      @include ipad-view {
        padding: 20px 10px;
      }
      img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
        object-fit: contain;
      }
      .text {
        h4 {
          font-size: 24px;
          margin-bottom: 10px;
          font-weight: 700;
          @include ipad-view {
            font-size: 19px;
          }
        }
        p {
          margin-bottom: 0;

        }
      }
    }
    .slick-current.slick-active {
      opacity: 1;
      background: color(pure-white);
      box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
      border-radius: 10px;
      h4 {
        color: color(p-light-blue);
      }
    }
  }
}
.future_focused_business {
  position: relative;
  padding: 50px 0;
  @include mobile-view {
    padding: 30px 5px;
  }
  .new_title{
    &::before{
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  .title_text {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      @include fonts-source($size: 44px, $weight: 700);
      max-width: 881px;
      margin: 0 auto 20px;
      @include tab-view {
        @include fonts-source($size: 30px, $weight: 600);
      }      
    }
    p {
      @include fonts-source($size: 16px);
      max-width: 771px;
    margin: 0 auto;
      @include tab-view {
        @include fonts-source($lh: 1.5);
      }
    }
  }
  .empower_future {
    height: 100%;
    width: 100%;
    // display: flex;
    // align-items: center;
    @include mobile-view{
      padding: 0 10px;
    }
    .box {
      display: flex;
      min-height: 100%;
      height: 100%;
      margin: 40px;
      align-items: center;
      box-shadow: 9px 3px 25px rgba(0, 0, 0, 0.1);
      @include mobile-view{
        margin: 15px;
      }
      .text_box {
        display: flex;
        align-items: center;
        position: relative;
        padding: 30px 20px;
        height: 100%;
        h1 {
          background: linear-gradient(
            95.73deg,
            color(pure-purple) -1.93%,
            color(p-light-blue) 101.79%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          font-weight: 800;
          font-size: 128px;
          margin-bottom: 0;
          line-height: 128px;
          letter-spacing: initial;
          position: absolute;
          left: -50px;
        }
        .text_title{
          padding-left: 50px;
        h5 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;          
        }
        p {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
      }
    }
    .slick-custom-arrow {
      position: absolute;
      z-index: 10;
      left: 49%;
      transform: translate(-50%);
      @include tab-view {
        left: 45%;
      }
      &:hover {
        cursor: pointer;
        img {
          box-shadow: 0 0 10px color(white-boxshadow);
        }
      }
      img {
        border-radius: 50%;
        padding: 12px 10px;
      }
      &-right {
        margin-left: 50px;
        bottom: -60px;

        @include tab-view {
        }
      }
      &-left {
        bottom: -60px;
        border-radius: 50%;
      }
    }
  }
  .book_btn {
    margin-top: 80px;
    text-align: center;
  }
  .feature_button {
    background: linear-gradient(
      95.73deg,
      color(pure-purple) -1.93%,
      color(p-light-blue) 101.79%
    );
    transition: 0.5s all;
    border-radius: 50px;
    padding: 15px 30px;
    margin: 0 auto;
    display: inline-block;
    @include fonts-source(
      $size: 16px,
      $colour: color(pure-black),
      $weight: 800,
      $lh: 19px
    );
    color: color(pure-white);
    &:hover{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-decoration: none;
    }
  }
}
.our-customer-sec{
.testimonial{
width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .testimonial_box_text{
    text-align: center;
    h2{
      font-size: 44px;
      margin-top: 30px;
      &::after{
        content:url(../image/quote.png);
        position: absolute;
        top: -25px;
        left: 0px;

      }
    }
    .new_title{
      &::before{
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
    h3{
      font-size: 24px;
      margin: 20px 0;
    }
    p{
      @include new_paragraph;
    }
  }

}
.slider_dots{
  width: 70%;
margin: 0 auto;
}
.slide img {
  display: block;
  width: 100%;
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: grey;
  text-indent: -9999px;
}
.slider_dots .slider_navigators {
  // background-color: #9E9E9E;
  // border-radius: 50%;
  margin: 10px;
  transform: scale(0.4);
  outline: none;
  cursor: pointer;
}
.slider_dots .slider_navigators img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.slider_dots .slider_navigators.slick-active {
  transform: scale(0.70);
}
.slider_navigators.slick-active.slick-current {
  transform: scale(1);
  .testimonial_box-name-job{
    transform: scalex();
    display: block;
  }
}
.testimonial_box-name-job{
  text-align: center;
  display: none;
  position: relative;
  text-align: center;
  margin-top: 10px;
  h4{
    white-space:nowrap;
  }
}
}
.pqscale{
  .title_text{
    .new_title{
      &::before{
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
  }
}
.new_knowledgecenter {
  position: relative;
  padding: 100px 0 50px 0;
  clear: both;
  .new_title {
    text-align: center;
    &::before{
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  .new_paragraph {
    text-align: center;
  }
  .syncedslider_center {
    .centername_slider {
      p {
        @include fonts-source(
          $size: 32px,
          $colour: color(primary-font-color),
          $weight: 700,
          $lh: 48px
        );
        opacity: 0.3;
        white-space: nowrap;
        padding-right: 40px;

        &.slick-current {
          opacity: 1;
        }
      }
      .slick-custom-arrow-left {
        position: absolute;
        left: -100px;
        padding: 10px 20px;
        transform: translate(0,-50%);
        top: 50%;
        background: #fff;
        box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
        border-radius: 29.5px;
      }
    }
    .slick-custom-arrow-right {
      position: absolute;
      right: -100px;
      padding: 10px 20px;
      transform: translate(0,-50%);
      top: 50%;
      background: #fff;
      box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
      border-radius: 29.5px;
    }
  }
  .centerdetail_sider {
    .newcard_slid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .neweach_slider {
        max-width: 260px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 15px;
        .newpart_1 {
          img {
            max-width: 250px;
          }
        }
        .newpart_2 {
          p {
            @include fonts-source(
              $size: 16px,
              $colour: color(pure-black),
              $weight: 400
            );
            margin: 7px 0;
          }
          a {
            @include fonts-source(
              $size: 16px,
              $colour: color(pure-black),
              $weight: 700
            );
            text-decoration: none;
          }
        }
      }
    }
  }
  .newcenter_link{
    margin: 50px 0 0;
    text-align: center;
  }
}
.footertop_line{
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  background: linear-gradient(95.73deg, #2EC774 -1.93%, #0084E3 101.79%);
  border-radius: 30px 30px 0px 0px;
  h4{
    text-align: center;  
    @include fonts-source($size: 16px, $colour: color(pure-white), $weight: 700);
    letter-spacing: -0.005em;
  }
}

// milan code start
.width-30{
  float: left;
  width: 30%;
}
.soft-images{
  background: #FFFFFF;
  box-shadow: 9px 3px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 30px;
  display: block;
}
.soft-images img{
  width: 100%;
  height: 80px;
  object-fit: contain;
}
.soft-svg{
  float: left;
  width: 40%;
}
.paddtb_90 {
  padding: 50px 0;
  float: left;
  width: 100%;
  background: color(light_white);
  border-bottom: 2px solid #eee;
  h2{
    margin-bottom: 20px;
  }
  p{
    color: color(pure-white);
  }
}
.bg-white{
  background-color: #ffffff;
}
.bg-blue{
  background: #232343;
}
.full-flow-scle{
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-customer-sec{
  padding: 75px 60px 0px;
  float: left;
  width: 50%;
}
// milan code end

.contact_form_testimonial_saec {
  position: relative;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgb(35, 35, 67) 50%);
  width: 100%;
  height: 100%;
  clear: both;
  @include ipad-view{
    background: transparent;
  }
  .contact_form_section {
    padding: 40px 25px 40px 0;
    position: relative;
    @include ipad-view{
      padding-right: 0;
    }
    .form-inner {
      background: linear-gradient(168.5deg, rgba(255, 255, 255, 0.25) 3.55%, rgba(255, 255, 255, 0) 49.21%, rgba(255, 255, 255, 0.25) 92.52%);
      border-radius: 15px;
      padding: 40px 38px;
      width: 100%;
      margin: 0 auto;
      @include ipad-view{
        background: rgb(35, 35, 67);
      }
      .form-group {
        input {
        border: 1px solid #DADADA;
        border-radius: 10px;
        padding: 13px 15px;
        font-size: 14px;
        color: #232343;
        &:focus{
          box-shadow: none;
         }
        &::placeholder{         
            color: #232343;        
        }
      }
      select {
        padding: 13px 15px;
        height: auto;
        border-radius: 10px;
        font-size: 14px;
        color: #232343;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background: url("../image/aerrow-down.png") white no-repeat 94.5% !important;
      }
    }
    h4 {
      float: left;
      width: 100%;
      font-weight: 700;
      font-size: 44px;
      color: #FFF;
      margin-bottom: 30px;
      text-align: center;
    }
    .blue-btn {
      border-radius: 10px;
      background: #0a88e3;
      border: 1px solid #0a88e3;
      color: #ffffff;
      padding: 13px 16px;
      display: inline-block;
      min-width: 170px;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: transparent;
        color: #0a88e3;
      }
    }
    }
  }
  .testimonial {
    padding: 80px 0px 0px 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include ipad-view{
      padding: 20px 0px 0px 0px;
    }
    .testinomial_title {
      text-align: center;
      h2 {
        font-size: 39px;
        color: #232343;
        font-weight: 800;
        position: relative;
        &::after {
          content: url(../image/quote.png);
          position: absolute;
          top: -30px;
          left: -11px;
          z-index: -1;
        } 
      }
      .new_title{
        &::before {
        margin: 0 auto;
        left: 0;
        right: 0;
      }
    }
    h3 {
      font-size: 24px;
      margin: 20px 0;
      color: #232343;
    }
    }
    .testimonial_box_text {
      text-align: center;
      p {
        font-size: 16px;
        color: #000;
        font-weight: 400;
        color: #232343;
      }
    }
  }
  .slider_dots {
    width: 70%;
    margin: 0 auto;
    @include ipad-view{
      margin-bottom: 20px;
    }
    .testimonial_box-name-job {
      text-align: center;
      display: none;
      position: relative;
      text-align: center;
      margin-top: 15px;
      margin-left: -36px;
      width: 130px;
      h4 {
        white-space: nowrap;
        color: #232343;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 5px;
        text-transform: capitalize;
      }
      p {
        color: #232343;
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
      }
    }
    .slider_navigators {
      margin: 10px;
      transform: scale(0.4);
      outline: none;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-shadow: 0px 0px 4px #ddd;
      }
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    .slider_navigators.slick-active {
      transform: scale(0.7);
    }
  }
  .slider_navigators.slick-active.slick-current {
    transform: scale(1);
    .testimonial_box-name-job {
      display: block;
    }
  }
}
