@import "./variables";
@import "./colors";
@import "./mixins";
@import "./media";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,100;1,200;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Courgette", cursive;
  font-family: "Poppins", sans-serif;
}
hr {
  background: linear-gradient(
    230.26deg,
    color(pure-purple) 30.62%,
    color(p-light-blue) 69.74%
  );
  background-repeat: no-repeat;
  background-size: auto;
  width: 150px;
  height: 3px;
  top: 100%;
  border: 0;
}
.Homebanner {
  position: relative;
  background: linear-gradient(
      to left,
      rgba(35, 35, 67, 1) 50%,
      rgba(35, 35, 67, 0.5)
    ),
    url(../image/homebanner.png) no-repeat left;
  background-size: cover;
  .banner_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 15px;
    @include mobile-view{
      padding: 30px ;
    }
    @include tab-view {
      flex-direction: column;
    }
    @include mobile-view {
      padding: 30px 15px;
    }
    .banner_text {
      position: relative;
      width: 60%;
      display: flex;
      flex-direction: column;
      color: color(pure-white);
      @include tab-view {
        width: 100%;
        order: 1;
        
      }
      h2 {
        @include fonts-source($size: 39px, $weight: 700);
        margin-bottom: 23px;
        @include ipad-view {
          @include fonts-source($size: 28px, $weight: 600);
        }
        @include tab-view {
          font-size: 25px;
        }
      }
      p {
        @include fonts-source($size: 24px, $weight: 400, $lh: 30px);
        @include ipad-view {
          @include fonts-source($size: 17px, $lh: 1.5);
        }
        max-width: 633px;
        @include tab-view {
          font-size: 16px;
          line-height: 1.5;
        }
      }
      .banner_button {
        display: flex;
        margin-top: 30px;
        @include ipad-view {
          margin-top: 10px;
        }
        .btn {
          margin-right: 20px;
          padding: 15px 25px;
          border-radius: 30px;
          font-size: 16px;
          color: color(p-light-blue);
          font-weight: 800;
          border: 2px solid color(p-light-blue);
          outline: none;
          &:hover {
            background-color: color(p-light-blue);
            color: color(pure-white);
          }
          @include ipad-view {
            padding: 10px 20px;
          }
        }
      }
    }
    .banner_img_grp {
      position: relative;
      width: 40%;
      display: flex;
      flex-direction: column;
      @include tab-view {
        width: 80%;
        margin-bottom: 20px;
      }
      @include mobile-view {
        width: 100%;
      }
      .girl {
        width: 93%;
        height: 100%;
      }
      .spinner {
        position: absolute;
        right: 0px;
        top: 107px;
        align-self: flex-start;
        width: 150px;
        height: 150px;
        object-fit: contain;      
      }
      .flow_graph {
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 150px;
        height: 150px;
        object-fit: contain;       
      }
    }
  }
}
.why_pathquest_section {
  position: relative;
  padding: 50px 0;
  background-color: color(light_white);
  height: 100%;
  width: 100%;
  @include mobile-view {
    padding: 30px 5px;
  }
  .title_text {
    text-align: center;
    margin-bottom: 30px;
    h2 {
      @include fonts-source($size: 44px, $weight: 700);
      @include tab-view {
        @include fonts-source($size: 35px, $weight: 600);
      }
    }
    p {
      @include fonts-source($size: 16px, $lh: 19px);
      @include ipad-view {
        @include fonts-source($lh: 1.5);
      }
    }
  }

  .col-md-4 {
    position: static;
    @include tab-view {
      position: relative;
    }
  }
  .rtl-slider {
    width: 35%;
    position: absolute;
    left: -2px;
    display: flex;
    @include tab-view {
      position: relative;
      width: 80%;
      display: block;
      margin: 0 auto;
    }
    .main_slide_img {
      height: auto;
      width: 100%;
      height: 500px;
      margin-right: 10px;
      @include tab-view {
        height: 300px;
      }
      img {
        width: 100%;
        object-fit: fill;
        height: 100%;
        @include tab-view {
          border-radius: 20px;
        }
      }
    }
  }
  .rtl-slider-nav {
    // height: 500px;
    overflow: hidden;
    .slick-list {
      padding: 0 !important;
    }
    .rtl-slider-slide {
      opacity: 0.75;
      transition: all 0.3s ease;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      padding: 30px 10px;

      @include ipad-view {
        padding: 20px 10px;
      }
      img {
        width: 60px;
        height: 60px;
        margin-right: 20px;
        object-fit: contain;
      }
      .text {
        h4 {
          font-size: 24px;
          margin-bottom: 10px;
          @include ipad-view {
            font-size: 19px;
          }
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    .slick-current.slick-active {
      opacity: 1;
      background: color(pure-white);
      box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
      border-radius: 10px;
      h4 {
        color: color(p-light-blue);
      }
    }
  }
}

.future_focused_business {
  position: relative;
  padding: 50px 0;
  @include mobile-view {
    padding: 30px 5px;
  }
  .title_text {
    text-align: center;
    margin-bottom: 30px;
    h2 {
      @include fonts-source($size: 44px, $weight: 700);
      @include tab-view {
        @include fonts-source($size: 30px, $weight: 600);
      }
    }
    p {
      @include fonts-source($size: 16px, $lh: 19px);
      @include tab-view {
        @include fonts-source($lh: 1.5);
      }
    }
  }
  .empower_future {
    min-height: 170px;
    height: 100%;
    display: flex;
    align-items: center;
    @include mobile-view{
      padding: 0 10px;
    }
    .box {
      display: flex;
      min-height: 170px;
      height: 100%;
      margin: 30px 20px;
      align-items: center;
      background: color(pure-white);
      @include mobile-view{
        margin: 15px;
      }
      h1 {
        background: linear-gradient(
          95.73deg,
          color(pure-purple) -1.93%,
          color(p-light-blue) 101.79%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        font-weight: 800;
        font-size: 128px;
      }
      .text {
        padding: 20px;
        margin-left: -40px;
        padding-left: 60px;
        box-shadow: 9px 3px 25px rgba(0, 0, 0, 0.1);
        h5 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          margin-bottom: 0;
        }
      }
    }
    .slick-custom-arrow {
      position: absolute;
      z-index: 10;
      // width: 100px;
      left: 49%;
      transform: translate(-50%);
      @include tab-view {
        left: 45%;
      }
      &:hover {
        cursor: pointer;
        img {
          box-shadow: 0 0 10px color(white-boxshadow);
        }
      }
      img {
        border-radius: 50%;
        padding: 12px 10px;
      }
      &-right {
        margin-left: 50px;
        bottom: -60px;

        @include tab-view {
        }
      }
      &-left {
        bottom: -60px;
        border-radius: 50%;
      }
    }
  }
  .book_btn {
    margin-top: 80px;
    text-align: center;
  }
  .feature_button {
    background: linear-gradient(
      95.73deg,
      color(pure-purple) -1.93%,
      color(p-light-blue) 101.79%
    );
    transition: 0.5s all;
    border-radius: 50px;
    padding: 15px 30px;
    margin: 0 auto;
    display: inline-block;
    @include fonts-source(
      $size: 16px,
      $colour: color(pure-black),
      $weight: 800,
      $lh: 19px
    );
    color: color(pure-white);
    &:hover{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
