@import "./variables";
@import "./colors";
@import "./mixins";
@import "./media";
  
.new_title {
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 18px;
  @include fonts-source(
    $size: 44px,
    $colour: color(primary-font-color),
    $weight: 700,
    $lh: 48px
  );
  font-family: $text-font;
  &::before {
    content: "";
    background: linear-gradient(230.26deg, #2ec774 30.62%, #0084e3 69.74%);
    background-repeat: no-repeat;
    background-size: auto;
    width: 150px;
    height: 3px;
    position: absolute;
    top: 100%;
  }
}

.new_paragraph {
  @include fonts-source(
    $size: 16px,
    $colour: color(pure-black),
    $weight: 400,
    $lh: 19px
  );
  font-family: $text-font;
}

.financial_intelligence {
  padding: 100px 0 50px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, color(pure-white) 55%, #deebff 45%);
  .financial_intel_view {
    .new_title {
      font-size: 40px;
    }
    .new_paragraph {
      max-width: 450px;
    }
    .iso_images {
      display: flex;
      column-gap: 25px;
      margin-top: 25px;
    }
    .financial_ul {
      list-style: none;
      display: flex;
      .financial_li {
        padding: 0 10px;
        .financialli_img {
          width: 100%;
          &.financialscale_img {
            img {
              max-width: 100%;
              transform: scale(1.4);
              transform-origin: left bottom;
              @include mini-screen {
                transform: scale(1.1);
              }
            }

            &.scaleright_img img {
              transform-origin: right top;
            }
          }
        }
        &.financial_chart {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
}

.unique_features {
  background: url(/assets/image/uniquehome.png);
  background-size: 31vw 100%;
  background-repeat: no-repeat;

  .our_uniquefeatures {
    padding: 35px 0;
    .our_features {
      .unique_featureul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        padding: 30px 0 50px 0;

        .unique_featureli {
          display: flex;
          align-items: center;
          width: 50%;
          .uniqueli_img {
            img {
              margin-right: 24px;
            }
          }

          .uniqueli_text {
            @include fonts-source(
              $size: 16px,
              $colour: color(primary-font-color),
              $weight: 700,
              $lh: 19px
            );
            font-family: $text-font;
            max-width: 205px;
            margin-bottom: 0;
          }
        }
      }
      .new_bookdemo {
        display: flex;
        justify-content: center;
        align-items: center;
        .feature_button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(
            95.73deg,
            #2ec774 -1.93%,
            #0084e3 101.79%
          );
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 50px;
          padding: 13px 19px;
          margin: 0 auto;
          text-decoration: none;
          @include fonts-source(
            $size: 16px,
            $colour: color(pure-black),
            $weight: 800,
            $lh: 19px
          );
          font-family: $text-font;
          color: color(pure-white);

          img {
            padding-right: 12px;
          }
        }
      }
    }
  }
}

.new_knowledgecenter {
  padding: 100px 0 50px 0;
  .new_title {
    text-align: center;
    &::before {
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
  .new_paragraph {
    text-align: center;
  }
  .syncedslider_center {
    margin-top: 40px;
    .knowledgeslider_view {
      position: relative;
      display: flex;
      overflow: hidden;
      align-items: center;
      .centername_slider {
        margin-left: 75px;
        padding-bottom: 10px;
        p {
          @include fonts-source(
            $size: 32px,
            $colour: color(primary-font-color),
            $weight: 700,
            $lh: 48px
          );
          opacity: 0.3;
          white-space: nowrap;
          padding-right: 40px;

          &.slick-current {
            opacity: 1;
          }
        }
      }
      .btn_newprev {
        position: absolute;
        left: -20px;
        top: 0;
        z-index: 9;
        background: color(pure-white);
        background-repeat: no-repeat;
        background-position: center;
        padding: 17px 20px;
        box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
        border-radius: 29.5px;
      }
      .btn_newnex {
        position: absolute;
        right: -20px;
        top: 0;
        z-index: 9;
        background: color(pure-white);
        background-repeat: no-repeat;
        background-position: center;
        padding: 17px 20px;
        box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
        border-radius: 29.5px;
      }
    }
  }
  .centerdetail_sider {
    border-top: 1px solid color(border-color);
    padding-top: 30px;
    .newcard_slid {
      display: flex;
      justify-content: space-between;
      .neweach_slider {
        max-width: 260px;
        margin-right: 20px;
        overflow: hidden;
        .newpart_1 {
          img {
            max-width: 250px;
            border-radius: 15px;
          }
        }
        .newpart_2 {
          p {
            @include fonts-source(
              $size: 16px,
              $colour: color(pure-black),
              $weight: 400
            );
            font-family: $text-font;
            margin: 7px 0;
          }
          a {
            @include fonts-source(
              $size: 16px,
              $colour: color(pure-black),
              $weight: 700
            );
            font-family: $text-font;
            text-decoration: none;
          }
        }
      }
    }
  }
  .newcenter_link {
    margin: 50px 0 0;
    text-align: center;
  }
}

.footertop_line {
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  background: linear-gradient(95.73deg, #2ec774 -1.93%, #0084e3 101.79%);
  border-radius: 30px 30px 0px 0px;
  h4 {
    text-align: center;
    @include fonts-source(
      $size: 16px,
      $colour: color(pure-white),
      $weight: 700
    );
    letter-spacing: -0.005em;
    font-family: $text-font;
    margin-bottom: 0;
  }
}
