/*----------------- responsive variations -----------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;0,900;1,100;1,200;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Courgette", cursive;
  font-family: "Poppins", sans-serif;
}

.Homebanner {
  position: relative;
  background: linear-gradient(269.77deg, #232343 44%, rgba(35, 35, 67, 0.6) 115.82%), url(../image/homebanner.png) no-repeat left;
  background-size: cover;
}
.Homebanner .banner_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px 15px;
}
@media (max-width: 575px) {
  .Homebanner .banner_box {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  .Homebanner .banner_box {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .Homebanner .banner_box {
    padding: 30px 15px;
  }
}
.Homebanner .banner_box .banner_text {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .Homebanner .banner_box .banner_text {
    width: 100%;
    order: 1;
  }
}
.Homebanner .banner_box .banner_text h2 {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 23px;
}
@media (max-width: 991px) {
  .Homebanner .banner_box .banner_text h2 {
    font-size: 28px;
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  .Homebanner .banner_box .banner_text h2 {
    font-size: 25px;
  }
}
.Homebanner .banner_box .banner_text p {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  max-width: 633px;
}
@media (max-width: 991px) {
  .Homebanner .banner_box .banner_text p {
    font-size: 17px;
    line-height: 1.5;
  }
}
@media (max-width: 767px) {
  .Homebanner .banner_box .banner_text p {
    font-size: 16px;
    line-height: 1.5;
  }
}
.Homebanner .banner_box .banner_text .banner_button {
  display: flex;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .Homebanner .banner_box .banner_text .banner_button {
    margin-top: 10px;
  }
}
.Homebanner .banner_box .banner_text .banner_button .btn {
  margin-right: 20px;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 16px;
  color: #0084e3;
  font-weight: 800;
  border: 2px solid #0084e3;
  outline: none;
}
.Homebanner .banner_box .banner_text .banner_button .btn:hover {
  background-color: #0084e3;
  color: #fff;
}
@media (max-width: 991px) {
  .Homebanner .banner_box .banner_text .banner_button .btn {
    padding: 10px 20px;
  }
}
.Homebanner .banner_box .banner_text .banner_button .btn_first {
  background-color: #0084e3;
  color: #fff;
}
.Homebanner .banner_box .banner_text .banner_button .btn_first:hover {
  background-color: transparent;
  color: #0084e3;
}
.Homebanner .banner_box .banner_img_grp {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .Homebanner .banner_box .banner_img_grp {
    width: 80%;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .Homebanner .banner_box .banner_img_grp {
    width: 100%;
  }
}
.Homebanner .banner_box .banner_img_grp .girl {
  width: 93%;
  height: 100%;
}
.Homebanner .banner_box .banner_img_grp .spinner {
  position: absolute;
  right: 0px;
  top: 107px;
  align-self: flex-start;
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
.Homebanner .banner_box .banner_img_grp .flow_graph {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.new_title {
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 18px;
  font-size: 44px;
  color: #232323;
  font-weight: 700;
  line-height: 48px;
}
.new_title::before {
  content: "";
  background: linear-gradient(230.26deg, #2ec774 30.62%, #0084e3 69.74%);
  background-repeat: no-repeat;
  background-size: auto;
  width: 150px;
  height: 3px;
  position: absolute;
  top: 100%;
}

.new_paragraph {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.financial_intelligence {
  padding: 70px 0 50px;
  margin-bottom: 50px;
  background: linear-gradient(90deg, #fff 55%, #deebff 45%);
}
.financial_intelligence .financial_intel_view .new_title {
  font-size: 40px;
}
.financial_intelligence .financial_intel_view .new_paragraph {
  max-width: 450px;
}
.financial_intelligence .financial_intel_view .financial_ul {
  list-style: none;
  display: flex;
}
.financial_intelligence .financial_intel_view .financial_ul .financial_li {
  padding: 0 10px;
}
.financial_intelligence .financial_intel_view .financial_ul .financial_li .financialli_img {
  width: 100%;
}
.financial_intelligence .financial_intel_view .financial_ul .financial_li .financialli_img.financialscale_img img {
  max-width: 100%;
  transform: scale(1.3);
  transform-origin: left bottom;
}
.financial_intelligence .financial_intel_view .financial_ul .financial_li .financialli_img.financialscale_img.scaleright_img img {
  transform-origin: right top;
}
.financial_intelligence .financial_intel_view .financial_ul .financial_li.financial_chart img {
  width: 150px;
  height: 150px;
}

.unique_features {
  background: url(../image/uniquehome.png);
  background-size: 30vw 100%;
  background-repeat: no-repeat;
}
.unique_features .our_uniquefeatures {
  padding: 35px 0;
}
.unique_features .our_uniquefeatures .our_features .unique_featureul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  padding: 30px 0 50px 0;
}
.unique_features .our_uniquefeatures .our_features .unique_featureul .unique_featureli {
  display: flex;
  align-items: center;
  width: 50%;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.unique_features .our_uniquefeatures .our_features .unique_featureul .unique_featureli .uniqueli_text {
  font-size: 16px;
  color: #232323;
  font-weight: 700;
  line-height: 19px;
  max-width: 200px;
  margin-bottom: 0;
}
.unique_features .our_uniquefeatures .our_features .new_bookdemo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.unique_features .our_uniquefeatures .our_features .new_bookdemo .feature_button {
  background: linear-gradient(95.73deg, #2ec774 -1.93%, #0084e3 101.79%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 13px 19px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 16px;
  color: #000;
  font-weight: 800;
  line-height: 19px;
  color: #fff;
}
.unique_features .our_uniquefeatures .our_features .new_bookdemo .feature_button img {
  padding-right: 12px;
}

.why_pathquest_section {
  position: relative;
  padding: 50px 0 100px;
  background-color: #f5f9ff;
  height: 100%;
  width: 100%;
}
@media (max-width: 575px) {
  .why_pathquest_section {
    padding: 30px 5px;
  }
}
.why_pathquest_section .new_title::before {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.why_pathquest_section .title_text {
  text-align: center;
  margin-bottom: 30px;
}
.why_pathquest_section .title_text h2 {
  font-size: 44px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .why_pathquest_section .title_text h2 {
    font-size: 35px;
    font-weight: 600;
  }
}
.why_pathquest_section .title_text p {
  font-size: 16px;
}
@media (max-width: 991px) {
  .why_pathquest_section .title_text p {
    line-height: 1.5;
  }
}
.why_pathquest_section .col-md-4 {
  position: static;
}
@media (max-width: 767px) {
  .why_pathquest_section .col-md-4 {
    position: relative;
  }
}
.why_pathquest_section .rtl-slider {
  width: 35%;
  position: absolute;
  left: -2px;
  display: flex;
}
@media (max-width: 767px) {
  .why_pathquest_section .rtl-slider {
    position: relative;
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
.why_pathquest_section .rtl-slider .main_slide_img {
  height: auto;
  width: 100%;
  height: 500px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .why_pathquest_section .rtl-slider .main_slide_img {
    height: 300px;
  }
}
.why_pathquest_section .rtl-slider .main_slide_img img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  height: 100%;
}
@media (max-width: 767px) {
  .why_pathquest_section .rtl-slider .main_slide_img img {
    border-radius: 20px;
  }
}
.why_pathquest_section .rtl-slider-nav {
  overflow: hidden;
}
.why_pathquest_section .rtl-slider-nav .slick-list {
  padding: 0 !important;
}
.why_pathquest_section .rtl-slider-nav .rtl-slider-slide {
  opacity: 0.75;
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  margin: 0 20px;
}
@media (max-width: 991px) {
  .why_pathquest_section .rtl-slider-nav .rtl-slider-slide {
    padding: 20px 10px;
  }
}
.why_pathquest_section .rtl-slider-nav .rtl-slider-slide img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.why_pathquest_section .rtl-slider-nav .rtl-slider-slide .text h4 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
@media (max-width: 991px) {
  .why_pathquest_section .rtl-slider-nav .rtl-slider-slide .text h4 {
    font-size: 19px;
  }
}
.why_pathquest_section .rtl-slider-nav .rtl-slider-slide .text p {
  margin-bottom: 0;
}
.why_pathquest_section .rtl-slider-nav .slick-current.slick-active {
  opacity: 1;
  background: #fff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.why_pathquest_section .rtl-slider-nav .slick-current.slick-active h4 {
  color: #0084e3;
}

.future_focused_business {
  position: relative;
  padding: 50px 0;
}
@media (max-width: 575px) {
  .future_focused_business {
    padding: 30px 5px;
  }
}
.future_focused_business .new_title::before {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.future_focused_business .title_text {
  text-align: center;
  margin-bottom: 30px;
}
.future_focused_business .title_text h2 {
  font-size: 44px;
  font-weight: 700;
  max-width: 881px;
  margin: 0 auto 20px;
}
@media (max-width: 767px) {
  .future_focused_business .title_text h2 {
    font-size: 30px;
    font-weight: 600;
  }
}
.future_focused_business .title_text p {
  font-size: 16px;
  max-width: 771px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .future_focused_business .title_text p {
    line-height: 1.5;
  }
}
.future_focused_business .empower_future {
  height: 100%;
  width: 100%;
}
@media (max-width: 575px) {
  .future_focused_business .empower_future {
    padding: 0 10px;
  }
}
.future_focused_business .empower_future .box {
  display: flex;
  min-height: 100%;
  height: 100%;
  margin: 40px;
  align-items: center;
  box-shadow: 9px 3px 25px rgba(0, 0, 0, 0.1);
}
@media (max-width: 575px) {
  .future_focused_business .empower_future .box {
    margin: 15px;
  }
}
.future_focused_business .empower_future .box .text_box {
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px 20px;
  height: 100%;
}
.future_focused_business .empower_future .box .text_box h1 {
  background: linear-gradient(95.73deg, #2ec774 -1.93%, #0084e3 101.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 800;
  font-size: 128px;
  margin-bottom: 0;
  line-height: 128px;
  letter-spacing: initial;
  position: absolute;
  left: -50px;
}
.future_focused_business .empower_future .box .text_box .text_title {
  padding-left: 50px;
}
.future_focused_business .empower_future .box .text_box .text_title h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.future_focused_business .empower_future .box .text_box .text_title p {
  font-size: 16px;
  margin-bottom: 0;
}
.future_focused_business .empower_future .slick-custom-arrow {
  position: absolute;
  z-index: 10;
  left: 49%;
  transform: translate(-50%);
}
@media (max-width: 767px) {
  .future_focused_business .empower_future .slick-custom-arrow {
    left: 45%;
  }
}
.future_focused_business .empower_future .slick-custom-arrow:hover {
  cursor: pointer;
}
.future_focused_business .empower_future .slick-custom-arrow:hover img {
  box-shadow: 0 0 10px;
}
.future_focused_business .empower_future .slick-custom-arrow img {
  border-radius: 50%;
  padding: 12px 10px;
}
.future_focused_business .empower_future .slick-custom-arrow-right {
  margin-left: 50px;
  bottom: -60px;
}
.future_focused_business .empower_future .slick-custom-arrow-left {
  bottom: -60px;
  border-radius: 50%;
}
.future_focused_business .book_btn {
  margin-top: 80px;
  text-align: center;
}
.future_focused_business .feature_button {
  background: linear-gradient(95.73deg, #2ec774 -1.93%, #0084e3 101.79%);
  transition: 0.5s all;
  border-radius: 50px;
  padding: 15px 30px;
  margin: 0 auto;
  display: inline-block;
  font-size: 16px;
  color: #000;
  font-weight: 800;
  line-height: 19px;
  color: #fff;
}
.future_focused_business .feature_button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.our-customer-sec .testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-customer-sec .testimonial .testimonial_box_text {
  text-align: center;
}
.our-customer-sec .testimonial .testimonial_box_text h2 {
  font-size: 44px;
  margin-top: 30px;
}
.our-customer-sec .testimonial .testimonial_box_text h2::after {
  content: url(../image/quote.png);
  position: absolute;
  top: -25px;
  left: 0px;
}
.our-customer-sec .testimonial .testimonial_box_text .new_title::before {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.our-customer-sec .testimonial .testimonial_box_text h3 {
  font-size: 24px;
  margin: 20px 0;
}
.our-customer-sec .testimonial .testimonial_box_text p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.our-customer-sec .slider_dots {
  width: 70%;
  margin: 0 auto;
}
.our-customer-sec .slide img {
  display: block;
  width: 100%;
}
.our-customer-sec .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.our-customer-sec .slick-dots button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: grey;
  text-indent: -9999px;
}
.our-customer-sec .slider_dots .slider_navigators {
  margin: 10px;
  transform: scale(0.4);
  outline: none;
  cursor: pointer;
}
.our-customer-sec .slider_dots .slider_navigators img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.our-customer-sec .slider_dots .slider_navigators.slick-active {
  transform: scale(0.7);
}
.our-customer-sec .slider_navigators.slick-active.slick-current {
  transform: scale(1);
}
.our-customer-sec .slider_navigators.slick-active.slick-current .testimonial_box-name-job {
  transform: scalex();
  display: block;
}
.our-customer-sec .testimonial_box-name-job {
  text-align: center;
  display: none;
  position: relative;
  text-align: center;
  margin-top: 10px;
}
.our-customer-sec .testimonial_box-name-job h4 {
  white-space: nowrap;
}

.pqscale .title_text .new_title::before {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.new_knowledgecenter {
  position: relative;
  padding: 100px 0 50px 0;
  clear: both;
}
.new_knowledgecenter .new_title {
  text-align: center;
}
.new_knowledgecenter .new_title::before {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.new_knowledgecenter .new_paragraph {
  text-align: center;
}
.new_knowledgecenter .syncedslider_center .centername_slider p {
  font-size: 32px;
  color: #232323;
  font-weight: 700;
  line-height: 48px;
  opacity: 0.3;
  white-space: nowrap;
  padding-right: 40px;
}
.new_knowledgecenter .syncedslider_center .centername_slider p.slick-current {
  opacity: 1;
}
.new_knowledgecenter .syncedslider_center .centername_slider .slick-custom-arrow-left {
  position: absolute;
  left: -100px;
  padding: 10px 20px;
  transform: translate(0, -50%);
  top: 50%;
  background: #fff;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
  border-radius: 29.5px;
}
.new_knowledgecenter .syncedslider_center .slick-custom-arrow-right {
  position: absolute;
  right: -100px;
  padding: 10px 20px;
  transform: translate(0, -50%);
  top: 50%;
  background: #fff;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.15);
  border-radius: 29.5px;
}
.new_knowledgecenter .centerdetail_sider .newcard_slid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new_knowledgecenter .centerdetail_sider .newcard_slid .neweach_slider {
  max-width: 260px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 15px;
}
.new_knowledgecenter .centerdetail_sider .newcard_slid .neweach_slider .newpart_1 img {
  max-width: 250px;
}
.new_knowledgecenter .centerdetail_sider .newcard_slid .neweach_slider .newpart_2 p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin: 7px 0;
}
.new_knowledgecenter .centerdetail_sider .newcard_slid .neweach_slider .newpart_2 a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
.new_knowledgecenter .newcenter_link {
  margin: 50px 0 0;
  text-align: center;
}

.footertop_line {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  background: linear-gradient(95.73deg, #2EC774 -1.93%, #0084E3 101.79%);
  border-radius: 30px 30px 0px 0px;
}
.footertop_line h4 {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.005em;
}

.width-30 {
  float: left;
  width: 30%;
}

.soft-images {
  background: #FFFFFF;
  box-shadow: 9px 3px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 30px;
  display: block;
}

.soft-images img {
  width: 100%;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.soft-svg {
  float: left;
  width: 40%;
}

.paddtb_90 {
  padding: 50px 0;
  float: left;
  width: 100%;
  background: #f5f9ff;
  border-bottom: 2px solid #eee;
}
.paddtb_90 h2 {
  margin-bottom: 20px;
}
.paddtb_90 p {
  color: #fff;
}

.bg-white {
  background-color: #ffffff;
}

.bg-blue {
  background: #232343;
}

.full-flow-scle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-customer-sec {
  padding: 75px 60px 0px;
  float: left;
  width: 50%;
}

.contact_form_testimonial_saec {
  position: relative;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgb(35, 35, 67) 50%);
  width: 100%;
  height: 100%;
  clear: both;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec {
    background: transparent;
  }
}
.contact_form_testimonial_saec .contact_form_section {
  padding: 40px 25px 40px 0;
  position: relative;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec .contact_form_section {
    padding-right: 0;
  }
}
.contact_form_testimonial_saec .contact_form_section .form-inner {
  background: linear-gradient(168.5deg, rgba(255, 255, 255, 0.25) 3.55%, rgba(255, 255, 255, 0) 49.21%, rgba(255, 255, 255, 0.25) 92.52%);
  border-radius: 15px;
  padding: 40px 38px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec .contact_form_section .form-inner {
    background: rgb(35, 35, 67);
  }
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input {
  border: 1px solid #DADADA;
  border-radius: 10px;
  padding: 13px 15px;
  font-size: 14px;
  color: #232343;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input:focus {
  box-shadow: none;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input::-moz-placeholder {
  color: #232343;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input:-ms-input-placeholder {
  color: #232343;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input::placeholder {
  color: #232343;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group select {
  padding: 13px 15px;
  height: auto;
  border-radius: 10px;
  font-size: 14px;
  color: #232343;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../image/aerrow-down.png") white no-repeat 94.5% !important;
}
.contact_form_testimonial_saec .contact_form_section .form-inner h4 {
  float: left;
  width: 100%;
  font-weight: 700;
  font-size: 44px;
  color: #FFF;
  margin-bottom: 30px;
  text-align: center;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .blue-btn {
  border-radius: 10px;
  background: #0a88e3;
  border: 1px solid #0a88e3;
  color: #ffffff;
  padding: 13px 16px;
  display: inline-block;
  min-width: 170px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .blue-btn:hover {
  background: transparent;
  color: #0a88e3;
}
.contact_form_testimonial_saec .testimonial {
  padding: 80px 0px 0px 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec .testimonial {
    padding: 20px 0px 0px 0px;
  }
}
.contact_form_testimonial_saec .testimonial .testinomial_title {
  text-align: center;
}
.contact_form_testimonial_saec .testimonial .testinomial_title h2 {
  font-size: 39px;
  color: #232343;
  font-weight: 800;
  position: relative;
}
.contact_form_testimonial_saec .testimonial .testinomial_title h2::after {
  content: url(../image/quote.png);
  position: absolute;
  top: -30px;
  left: -11px;
  z-index: -1;
}
.contact_form_testimonial_saec .testimonial .testinomial_title .new_title::before {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.contact_form_testimonial_saec .testimonial .testinomial_title h3 {
  font-size: 24px;
  margin: 20px 0;
  color: #232343;
}
.contact_form_testimonial_saec .testimonial .testimonial_box_text {
  text-align: center;
}
.contact_form_testimonial_saec .testimonial .testimonial_box_text p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  color: #232343;
}
.contact_form_testimonial_saec .slider_dots {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec .slider_dots {
    margin-bottom: 20px;
  }
}
.contact_form_testimonial_saec .slider_dots .testimonial_box-name-job {
  text-align: center;
  display: none;
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-left: -36px;
  width: 130px;
}
.contact_form_testimonial_saec .slider_dots .testimonial_box-name-job h4 {
  white-space: nowrap;
  color: #232343;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.contact_form_testimonial_saec .slider_dots .testimonial_box-name-job p {
  color: #232343;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}
.contact_form_testimonial_saec .slider_dots .slider_navigators {
  margin: 10px;
  transform: scale(0.4);
  outline: none;
  cursor: pointer;
}
.contact_form_testimonial_saec .slider_dots .slider_navigators img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 4px #ddd;
}
.contact_form_testimonial_saec .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.contact_form_testimonial_saec .slick-dots .slider_navigators.slick-active {
  transform: scale(0.7);
}
.contact_form_testimonial_saec .slider_navigators.slick-active.slick-current {
  transform: scale(1);
}
.contact_form_testimonial_saec .slider_navigators.slick-active.slick-current .testimonial_box-name-job {
  display: block;
}/*# sourceMappingURL=home.css.map */