.width-30{
    float: left;
    width: 30%;
  }
  .soft-images{
    background: #FFFFFF;
    box-shadow: 9px 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 30px;
  }
  .soft-images img{
    width: 100%;
    height: 80px;
    object-fit: contain;
  }
  .soft-svg{
    float: left;
    width: 40%;
  }
  .paddtb_90 {
    padding: 50px 0;
    float: left;
    width: 100%;
  }
  .bg-white{
    background-color: #ffffff;
  }
  .bg-blue{
    background: #232343;
  }
  .talk-to-form-sec{
    float: left;
    width: 50%;
    padding: 40px 40px 40px 110px;
  }
  .form-inner{
    background: linear-gradient(168.5deg, rgba(255, 255, 255, 0.25) 3.55%, rgba(255, 255, 255, 0) 49.21%, rgba(255, 255, 255, 0.25) 92.52%);
    backdrop-filter: blur(2.5px);
    border-radius: 15px;
    padding: 40px 45px;
    max-width: 526px;
    margin: 0 auto;
  }
  .form-inner h4{
    float: left;
    width: 100%;
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .blue-btn {
    border-radius: 10px;
    background: #0a88e3;
    border: 1px solid #0a88e3;
    color: #ffffff;
    padding: 13px 16px;
    display: inline-block;
    min-width: 170px;
    font-weight: 600;
    font-size: 16px;
    font-family: "Proxima Nova";
    text-align: center;
    cursor: pointer;
  }
  .blue-btn:hover {
    background: transparent;
    color: #0a88e3;
  }
  .full-flow-scle{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .our-customer-sec{
    padding: 75px 60px 0px;
    float: left;
    width: 50%;
  }