.contact_form_testimonial_saec {
  position: relative;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgb(35, 35, 67) 50%);
  width: 100%;
  height: 100%;
  clear: both;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec {
    background: transparent;
  }
}
.contact_form_testimonial_saec .contact_form_section {
  padding: 40px 25px 40px 0;
  position: relative;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec .contact_form_section {
    padding-right: 0;
  }
}
.contact_form_testimonial_saec .contact_form_section .form-inner {
  background: linear-gradient(168.5deg, rgba(255, 255, 255, 0.25) 3.55%, rgba(255, 255, 255, 0) 49.21%, rgba(255, 255, 255, 0.25) 92.52%);
  border-radius: 15px;
  padding: 40px 38px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec .contact_form_section .form-inner {
    background: rgb(35, 35, 67);
  }
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input {
  border: 1px solid #DADADA;
  border-radius: 10px;
  padding: 13px 15px;
  font-size: 14px;
  color: #232343;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input:focus{
 box-shadow: none;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input::-moz-placeholder {
  color: #232343;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input:-ms-input-placeholder {
  color: #232343;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group input::placeholder {
  color: #232343;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .form-group select {
  padding: 13px 15px;
  height: auto;
  border-radius: 10px;
  font-size: 14px;
  color: #232343;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../image/aerrow-down.png") white no-repeat 94.5% !important;
}
.contact_form_testimonial_saec .contact_form_section .form-inner h4 {
  float: left;
  width: 100%;
  font-weight: 700;
  font-size: 44px;
  color: #FFF;
  margin-bottom: 30px;
  text-align: center;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .blue-btn {
  border-radius: 10px;
  background: #0a88e3;
  border: 1px solid #0a88e3;
  color: #ffffff;
  padding: 13px 16px;
  display: inline-block;
  min-width: 170px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.contact_form_testimonial_saec .contact_form_section .form-inner .blue-btn:hover {
  background: transparent;
  color: #0a88e3;
}
.contact_form_testimonial_saec .testimonial {
  padding: 80px 0px 0px 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec .testimonial {
    padding: 20px 0px 0px 0px;
  }
}
.contact_form_testimonial_saec .testimonial .testinomial_title {
  text-align: center;
}
.contact_form_testimonial_saec .testimonial .testinomial_title h2 {
  font-size: 39px;
  color: #232343;
  font-weight: 800;
  position: relative;
}
.contact_form_testimonial_saec .testimonial .testinomial_title h2::after {
  content: url(../image/quote.png);
  position: absolute;
  top: -30px;
  left: -11px;
  z-index: -1;
} 
.contact_form_testimonial_saec .testimonial .testinomial_title .new_title::before {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.contact_form_testimonial_saec .testimonial .testinomial_title h3 {
  font-size: 24px;
  margin: 20px 0;
  color: #232343;
}
.contact_form_testimonial_saec .testimonial .testimonial_box_text {
  text-align: center;
}
.contact_form_testimonial_saec .testimonial .testimonial_box_text p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  color: #232343;
}
.contact_form_testimonial_saec .slider_dots {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .contact_form_testimonial_saec .slider_dots {
    margin-bottom: 20px;
  }
}
.contact_form_testimonial_saec .slider_dots .testimonial_box-name-job {
  text-align: center;
  display: none;
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-left: -36px;
  width: 130px;
}
.contact_form_testimonial_saec .slider_dots .testimonial_box-name-job h4 {
  white-space: nowrap;
  color: #232343;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.contact_form_testimonial_saec .slider_dots .testimonial_box-name-job p {
  color: #232343;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}
.contact_form_testimonial_saec .slider_dots .slider_navigators {
  margin: 10px;
  transform: scale(0.4);
  outline: none;
  cursor: pointer;
}
.contact_form_testimonial_saec .slider_dots .slider_navigators img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 4px #ddd;
}
.contact_form_testimonial_saec .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.contact_form_testimonial_saec .slider_dots .slider_navigators.slick-active {
  transform: scale(0.7);
}
.contact_form_testimonial_saec .slider_navigators.slick-active.slick-current {
  transform: scale(1);
}
.contact_form_testimonial_saec .slider_navigators.slick-active.slick-current .testimonial_box-name-job {
  display: block;
}